/* Header.css */
.site-header {
  width: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.header-top {
  margin-right: 38px;
  margin:-12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 14px 40px;


  /* breathing room like Gul Ahmed */
}

/* Left icons */
.header-left {
  margin-left: -25px;
  display: flex;
  align-items: end;
  gap: 26px;
  /* slightly more space between */
}

.top-icon {
  display: flex;
  flex-direction: column;
  /* icon above text */
  align-items: center;
  gap: 6px;
  /* more space between icon and text */
  font-size: 14px;
  /* text slightly bigger */
  color: #6E6E6E;
  text-decoration: none;
  margin: 0 5px;
}

.top-icon img {
  width: 49px;
  /* bigger icons */
  height: auto;
}

/* Logo centered */
.header-logo img {
  width: auto;
  height: 156px;
  display: flex;
  margin: -79px;
  margin-left: -145px;
}

/* Right icons */
.header-right {
  margin: -22px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 105px;
}

.icon-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn img {
  width: 49px;
  /* Adjusted to a consistent size for all icons in header-right */
  height: auto;
}

.cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper img {
  width: 32px;
  /* consistent with other icons */
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 50%;
}

/* Currency dropdown + Rs symbol */
.currency-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 4px;
}

.currency-dropdown {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  appearance: none;
  cursor: pointer;
}

.currency-dropdown option {
  padding: 5px 10px;
}

.currency-container img {
  width: 32px;
  /* consistent with other icons */
}

.currency-container::after {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  color: #555;
  pointer-events: none;
}

/* Navigation menu */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 28px;
  padding: 8px 0;
  font-size: 13px;

}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}